In [1]:
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:

tempat = pd.read_csv('Data_Place.csv')
dataTempat= pd.DataFrame(tempat)
dataTempat.head()

,Negeri,Lokasi (Daerah),Nama Tempat,Jarak Pendakian (KM),Ketinggian (Meter),Anggaran Masa,Bentuk Muka Bumi,Trek Akhir Pendakian,Tahap kesukaran,Berkhemah
0,Terengganu,Kuala Nerus,Bukit Maras,3,330,1,Bukit,"Matahari Terbit/Terbenam, Pemandangan Setempat",3,Ya
1,Terengganu,Besut,Bukit Keluang,2,210,1,"Bukit, Susuh Bukit, Tebing","Matahari Terbit/Terbenam, Air Laut / Pinggir P...",3,Ya
2,Terengganu,Kuala Terengganu,Bukit Besar,2,200,1,Bukit,"Matahari Terbit/Terbenam, Pemandangan Setempat",3,Tidak
3,Terengganu,"Pasir Raja, Dungun",Chemerong,3,370,2,"Bukit, Berbatu, Susuh Bukit",Air Terjun,3,Ya
4,Terengganu,Kuala Terengganu,Bukit Rohok,3,268,2,"Bukit, Susuh Bukit","Pemandangan Setempat, Hutan Gunung / Bukit",3,Tidak

In [3]:
dataTempat.head()
dataTempat.drop(['Bentuk Muka Bumi','Trek Akhir Pendakian','Berkhemah','Negeri','Lokasi (Daerah)','Anggaran Masa'], axis=1)

,Nama Tempat,Jarak Pendakian (KM),Ketinggian (Meter),Tahap kesukaran
0,Bukit Maras,3,330,3
1,Bukit Keluang,2,210,3
2,Bukit Besar,2,200,3
3,Chemerong,3,370,3
4,Bukit Rohok,3,268,3
...,...,...,...,...
118,Bukit Besout,3,240,2
119,Bukit Batu Suluh,2,410,2
120,Peak,3,40,1
121,Bukit Tunggal,4,200,1
122,Bukit Chandan,4,50,1

In [4]:

dataTempat['C']=dataTempat['Jarak Pendakian (KM)']*dataTempat['Tahap kesukaran']

In [5]:
dataTempat.head()

,Negeri,Lokasi (Daerah),Nama Tempat,Jarak Pendakian (KM),Ketinggian (Meter),Anggaran Masa,Bentuk Muka Bumi,Trek Akhir Pendakian,Tahap kesukaran,Berkhemah,C
0,Terengganu,Kuala Nerus,Bukit Maras,3,330,1,Bukit,"Matahari Terbit/Terbenam, Pemandangan Setempat",3,Ya,9
1,Terengganu,Besut,Bukit Keluang,2,210,1,"Bukit, Susuh Bukit, Tebing","Matahari Terbit/Terbenam, Air Laut / Pinggir P...",3,Ya,6
2,Terengganu,Kuala Terengganu,Bukit Besar,2,200,1,Bukit,"Matahari Terbit/Terbenam, Pemandangan Setempat",3,Tidak,6
3,Terengganu,"Pasir Raja, Dungun",Chemerong,3,370,2,"Bukit, Berbatu, Susuh Bukit",Air Terjun,3,Ya,9
4,Terengganu,Kuala Terengganu,Bukit Rohok,3,268,2,"Bukit, Susuh Bukit","Pemandangan Setempat, Hutan Gunung / Bukit",3,Tidak,9

In [6]:
dataTempat[dataTempat["Jarak Pendakian (KM)"]==3].head()

,Negeri,Lokasi (Daerah),Nama Tempat,Jarak Pendakian (KM),Ketinggian (Meter),Anggaran Masa,Bentuk Muka Bumi,Trek Akhir Pendakian,Tahap kesukaran,Berkhemah,C
0,Terengganu,Kuala Nerus,Bukit Maras,3,330,1,Bukit,"Matahari Terbit/Terbenam, Pemandangan Setempat",3,Ya,9
3,Terengganu,"Pasir Raja, Dungun",Chemerong,3,370,2,"Bukit, Berbatu, Susuh Bukit",Air Terjun,3,Ya,9
4,Terengganu,Kuala Terengganu,Bukit Rohok,3,268,2,"Bukit, Susuh Bukit","Pemandangan Setempat, Hutan Gunung / Bukit",3,Tidak,9
5,Terengganu,Kuala Nerus,Bukit Jong,3,350,2,"Bukit, Susuh Bukit","Sungai, Pemandangan Setempat, Hutan Gunung / B...",4,Tidak,12
10,Terengganu,Kemaman,Bukit Harimau Menangis,3,200,2,"Bukit, Permatang","Matahari Terbit/Terbenam, Pemandangan Setempat...",4,Tidak,12

In [7]:
dataTempat[dataTempat["Bentuk Muka Bumi"]=="Bukit"].head()

,Negeri,Lokasi (Daerah),Nama Tempat,Jarak Pendakian (KM),Ketinggian (Meter),Anggaran Masa,Bentuk Muka Bumi,Trek Akhir Pendakian,Tahap kesukaran,Berkhemah,C
0,Terengganu,Kuala Nerus,Bukit Maras,3,330,1,Bukit,"Matahari Terbit/Terbenam, Pemandangan Setempat",3,Ya,9
2,Terengganu,Kuala Terengganu,Bukit Besar,2,200,1,Bukit,"Matahari Terbit/Terbenam, Pemandangan Setempat",3,Tidak,6
8,Terengganu,Kemaman,Bukit Mak Dayang,2,130,1,Bukit,"Matahari Terbit/Terbenam, Air Terjun, Pemandan...",3,Tidak,6
9,Terengganu,Dungun,Bukit Bauk,4,600,3,Bukit,"Matahari Terbit/Terbenam, Pemandangan Setempat",3,Tidak,12
14,Terengganu,Kemaman,Bukit Mentok,4,120,1,Bukit,"Matahari Terbit/Terbenam, Pemandangan Setempat",3,Tidak,12

In [8]:
tempat1 = pd.read_csv('Data_Place.csv')
dataTempat1= pd.DataFrame(tempat1)

In [9]:
x=dataTempat[dataTempat["Bentuk Muka Bumi"].str.contains('Susuh', na=False)]
x.tail()

,Negeri,Lokasi (Daerah),Nama Tempat,Jarak Pendakian (KM),Ketinggian (Meter),Anggaran Masa,Bentuk Muka Bumi,Trek Akhir Pendakian,Tahap kesukaran,Berkhemah,C
118,Perak,Sungkai,Bukit Besout,3,240,1,"Bukit, Susuh Bukit","Matahari Terbit/Terbenam, Hutan Gunung / Bukit",2,Tidak,6
119,Perak,Ulu Kinta,Bukit Batu Suluh,2,410,2,"Bukit, Susuh Bukit","Matahari Terbit/Terbenam, Pemandangan Setempat...",2,Tidak,4
120,Perak,Lumut,Peak,3,40,1,"Bukit, Susuh Bukit, Tebing","Matahari Terbit/Terbenam, Pemandangan Setempat...",1,Tidak,3
121,Perak,Bota,Bukit Tunggal,4,200,3,"Bukit, Susuh Bukit","Matahari Terbit/Terbenam, Pemandangan Setempat...",1,Tidak,4
122,Perak,Kuala Kangsar,Bukit Chandan,4,50,1,"Bukit, Susuh Bukit","Matahari Terbit/Terbenam, Pemandangan Setempat",1,Tidak,4

In [10]:
jarakChange=dataTempat.replace({'Jarak Pendakian (KM)': {1: '<1', 2: '1 - 2', 3:'2 - 5',4:'5 - 7', 5:'8 - 10',6:'> 10'}})
tempohChange=jarakChange.replace({'Anggaran Masa': {1: '1 Jam', 2: '1 - 2 Jam', 3:'2 - 3 Jam',4:'4 - 12 Jam', 5:'24 Jam',6:'48 Jam',7:'72 Jam(3Hari)'}})
tempohChange.tail()

,Negeri,Lokasi (Daerah),Nama Tempat,Jarak Pendakian (KM),Ketinggian (Meter),Anggaran Masa,Bentuk Muka Bumi,Trek Akhir Pendakian,Tahap kesukaran,Berkhemah,C
118,Perak,Sungkai,Bukit Besout,2 - 5,240,1 Jam,"Bukit, Susuh Bukit","Matahari Terbit/Terbenam, Hutan Gunung / Bukit",2,Tidak,6
119,Perak,Ulu Kinta,Bukit Batu Suluh,1 - 2,410,1 - 2 Jam,"Bukit, Susuh Bukit","Matahari Terbit/Terbenam, Pemandangan Setempat...",2,Tidak,4
120,Perak,Lumut,Peak,2 - 5,40,1 Jam,"Bukit, Susuh Bukit, Tebing","Matahari Terbit/Terbenam, Pemandangan Setempat...",1,Tidak,3
121,Perak,Bota,Bukit Tunggal,5 - 7,200,2 - 3 Jam,"Bukit, Susuh Bukit","Matahari Terbit/Terbenam, Pemandangan Setempat...",1,Tidak,4
122,Perak,Kuala Kangsar,Bukit Chandan,5 - 7,50,1 Jam,"Bukit, Susuh Bukit","Matahari Terbit/Terbenam, Pemandangan Setempat",1,Tidak,4

In [29]:
# list(tempohChange.columns)
y=tempohChange[tempohChange["Negeri"].str.contains("Terengganu", na=False)]
t=y.sort_values('Lokasi (Daerah)',ascending=True)
t=t.drop_duplicates(subset=['Lokasi (Daerah)'])
print (t['Lokasi (Daerah)'])

30                 Besut
23                Dungun
20       Hulu Terengganu
26               Kemaman
16           Kuala Nerus
4       Kuala Terengganu
17                Marang
3     Pasir Raja, Dungun
6            Pulau Kapas
15                 Setiu
Name: Lokasi (Daerah), dtype: object